.contenedorBio{
    width: $total;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-areas:
    "bannerBio"
    "parrafoUno"
    "imga"
    "parrafoDos"
    "parrafoTres"
    "imgb"
    "imgc";
    gap: 1em;
    .banner{
        
        grid-area: bannerBio;
    }
    p{
        color: $parrafo;
        font-size: small;
        font-weight: 500;
        padding: 10px;
        border-bottom: 2px solid $blanco;
        text-align: center;
        margin: 1em 2em 1em 2em;
        @media(min-width: 576px){
            font-size: medium;;
            
        }
        @media(min-width: 768px){
            font-size: large;
            font-weight: bold;
        }
        @media(min-width: 992px){
            font-size: x-large;
            font-weight: bold;
        }
    }
    .parrafoUno{
        grid-area: parrafoUno;
    }
    .parrafoDos{
        grid-area: parrafoDos;
    }
    .parrafoTres{
        grid-area: parrafoTres;
    }
    .img-a{
        grid-area: imga;
    }
    .img-b{
        grid-area: imgb;
    }
    .img-c{
        grid-area: imgc;
    }

}