.contenedorBio{
    width: $total;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-areas:
    "bannerBio"
    "parrafoBio"
    "imga"
    "imgb"
    "imgc";
    gap: 1em;
    .banner{
        
        grid-area: bannerBio;
    }
    .parrafoBio{
        font-size: small;
        font-weight: 500;
        padding: 10px;
        border: 2px solid white;
        text-align: center;
        margin: 1em 2em 1em 2em;
        grid-area: parrafoBio;
        @media(min-width: 576px){
            font-size: medium;;
            
        }
        @media(min-width: 768px){
            font-size: large;
            font-weight: bold;
        }
        @media(min-width: 992px){
            font-size: x-large;
            font-weight: bold;
        }
    }
    .img-a{
        grid-area: imga;
    }
    .img-b{
        grid-area: imgb;
    }
    .img-c{
        grid-area: imgc;
    }

}