.contenedorCarrera{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
    "bannerCar"
    "car1"
    "car2"
    "car3"
    "car4"
    "car5"
    "car6"
    "car7";
    row-gap: 15px;
    margin-bottom: 1em;
    .banner{
        
        grid-area: bannerCar;
    }
    .card{
        background-color: #5686ff;
        border: 2px solid white;
        padding: 3px;
        border-radius: 10px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(min-width: 992px){
            width: 420px;
            padding: 15px;
        }
        .estadisticas{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: white;
            }
            h3{
                color: white;
            }
            
        }
    }
    .car1{
        grid-area: car1;
    }
    .car2{
        grid-area: car2;
    }
    .car3{
        grid-area: car3;
    }
    .car4{
        grid-area: car4;
    }
    .car5{
        grid-area: car5;
    }
    .car6{
        grid-area: car6;
    }
    .car7{
        grid-area: car7;
    }

}