*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(119, 178, 221);
    font-family: 'Anek Telugu', sans-serif;
}

main{
    width: $total;
}
img{
    @include size (290px,200px);
    border: 2px solid white;
    border-radius: 8px;
    margin-bottom: 1em;
    box-shadow: 4px 6px 9px white;
    @media(min-width: 576px){
        @include size (420px,300px);
    }
    @media(min-width: 768px){
        @include size (330px,230px);
    }
    @media(min-width: 992px){
        @include size (420px,300px);
    }
}
.img-a img{
    @media(min-width: 768px){
    @include size (600px,450px);
    }   
    @media(min-width: 992px){
        @include size (700px,550px);
    }
}



.carreraImg img{
    @include size (290px,200px);
    border: 2px solid $blanco;
    border-radius: 10px;
    box-shadow: none;
    @media(min-width: 992px){
        @include size (320px,225px);
    }
}

.banner{
    height: 250px;
    position: relative;
    margin: 0;
    padding: 0;
    @media(min-width: 768px){
        height: 350px;
    }
    @media(min-width: 992px){
        height: 400px;
    }
    h1{
        font-family: 'Anton', sans-serif;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        text-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
        @media(min-width: 768px){
            font-size: 4rem;
        }
    }
    img{
        width: $total;
        height: $total;
        border: 0;
        border-radius: 0%;
        opacity: 0.5;
        box-shadow: none;
    }

}