.contenedorInicio{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-areas:
    "bannerInicio"
    "parrafoInicial"
    "parrafoInicio"
    "img1"
    "img2";
    gap: 1em;
    .banner{
        
        grid-area: bannerInicio;
        
    }
    p{
        color: $parrafo;
        font-size: small;
        font-weight: 500;
        padding: 10px;
        border-bottom: 2px solid $blanco;
        text-align: center;
        margin: 1em 2em 1em 2em;
        @media(min-width: 576px){
            font-size: medium;;
            
        }
        @media(min-width: 768px){
            font-size: large;
            font-weight: bold;
        }
        @media(min-width: 992px){
            font-size: x-large;
            font-weight: bold;
        }
    }
    .parrafoInicial{
        grid-area: parrafoInicial;
    }
    .parrafoInicio{
        grid-area: parrafoInicio;
    }
    
    .img-1{
        grid-area: img1;
    }
    .img-2{
        grid-area: img2;
    }
    
}