.contenedorInicio{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-areas:
    "tituloInicio"
    "parrafoUno"
    "img1"
    "img2";
    gap: 1em;
    .tituloInicio{
        border: 4px solid white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 1em;
        display: flex;
        justify-content: center;
        grid-area: tituloInicio;
        
    }
    .parrafoUno{
        font-size: small;
        font-weight: 500;
        padding: 10px;
        border: 2px solid white;
        text-align: center;
        margin: 1em 2em 1em 2em;
        grid-area: parrafoUno;
        @media(min-width: 576px){
            font-size: medium;;
            
        }
        @media(min-width: 768px){
            font-size: large;
            font-weight: bold;
        }
        @media(min-width: 992px){
            font-size: x-large;
            font-weight: bold;
        }
    }
    .imgInicio{
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        .img-1{
            grid-area: img1;
        }
        .img-2{
            grid-area: img2;
        }
    }
}