

footer{
    @media(min-width: 768px){
        margin-bottom: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "pieTitulo pieLogos";
        justify-content: space-evenly;
        align-items: center;
    }
}

