header{
    width: 100%;
    height: auto;
    background: rgb(142,36,44);
    background: linear-gradient(0deg, #2d8fa2 0%, rgb(46, 66, 184) 100%);
    padding: 10px;
    border-bottom: 2px solid white;
    margin-top: 0;
    .contenedorLogos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        .logoLs {
            margin-bottom: 0;
            border: 0;
        }
    }
}