footer{
    background: rgb(142,36,44);
    background: linear-gradient(0deg, #2d8fa2 0%, rgb(46, 66, 184) 100%);
    padding: 20px;
    margin-bottom: 0;
    display: grid;
    grid-template-areas:
    "pieTitulo"
    "pieLogos";
    justify-content: center;
    justify-items: center;
    border-top: 2px solid white;
    .piePag{
        grid-area: pieTitulo;
        h4{
            margin: 0%;
            font-size: 1rem;
            @media(min-width: 768px){
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
    .piePagina{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-area: pieLogos;
        img{
            width: 48px;
            height: 48px;
            border: 2px solid white;
            margin: 5px;    
        }
    }
}