.contenedorSeleccion{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
    "bannerSeleccion"
    "parrafoSel"
    "galeria";
    row-gap: 15px;
    margin-bottom: 1em;    
    .banner{
        
        grid-area: bannerSeleccion;    
    }
    .parrafoSeleccion{
        font-size: small;
        font-weight: 500;
        padding: 10px;
        border: 2px solid white;
        text-align: center;
        margin: 1em 2em 1em 2em;
        grid-area: parrafoSel;
        @media(min-width: 576px){
            font-size: medium;;
            
        }
        @media(min-width: 768px){
            font-size: large;
            font-weight: bold;
        }
        @media(min-width: 992px){
            font-size: x-large;
            font-weight: bold;
        }
    
    }
    
}
.gridImg{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
    "foto1"
    "foto2"
    "foto3"
    "foto4"
    "foto5"
    "foto6";
    grid-area: galeria;
    .imgSeleccion{
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
    }
    .item1{
        grid-area: foto1;
    }
    .item2{
        grid-area: foto2;
    }
    .item3{
        grid-area: foto3;
    }
    .item4{
        grid-area: foto4;
    }
    .item5{
        grid-area: foto5;
    }
    .item6{
        grid-area: foto6;
    }

}