.contenedorTitulos{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
    "bannerTit"
    "sub1"
    "lista1"
    "sub2"
    "lista2";
    .banner{
        
        grid-area: bannerTit;  
    }
    .titulosLista{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        li{
            text-decoration: none;
            .parrafoTitulos{
                font-size: 18px;
                border: 2px solid white;
                color: white;
                margin: 5px 3px 5px 3px;
                text-align: center; 
                @media(min-width: 576px){
                    font-size: medium;;
                    
                }
                @media(min-width: 768px){
                    font-size: x-large;
                }
            }
        }
    }
    .titulos1{
        grid-area: sub1;
    }
    .lista1{
        grid-area: lista1;
    }
    .titulos2{
        grid-area: sub2;
    }
    .lista2{
        grid-area: lista2;
    }

}