@import "variablesGlobal";
@import "fuentes";
@import "generales";
@import "nav";
@import "pie";
@import "inicio";
@import "bio";
@import "carrera";
@import "titulos";
@import "seleccion";
@import "media";


@media(min-width: 768px) {

    .contenedorInicio{
        grid-template-columns: 1fr, 1fr;
        grid-template-areas:
        "bannerInicio bannerInicio"
        "parrafoInicial parrafoInicial"
        "parrafoInicio parrafoInicio"
        "img1 img2";
    }

    .contenedorBio{
        grid-template-columns: 1fr, 1fr;
        grid-template-areas:
        "bannerBio bannerBio"
        "parrafoUno parrafoUno"
        "imga imga"
        "parrafoDos parrafoDos"
        "parrafoTres parrafoTres"
        "imgb imgc";
    }
    

    .contenedorCarrera{
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "bannerCar bannerCar"
        "car1 car2"
        "car3 car4" 
        "car5 car6"
        "car7 car7";
    }
    .gridImg{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "foto1 foto2"
        "foto3 foto4"
        "foto5 foto6";
    }
    

}

