@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Anton&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(119, 178, 221);
  font-family: "Anek Telugu", sans-serif;
}

main {
  width: 100%;
}

img {
  width: 290px;
  height: 200px;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 1em;
  box-shadow: 4px 6px 9px white;
}
@media (min-width: 576px) {
  img {
    width: 420px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  img {
    width: 330px;
    height: 230px;
  }
}
@media (min-width: 992px) {
  img {
    width: 420px;
    height: 300px;
  }
}

@media (min-width: 768px) {
  .img-a img {
    width: 600px;
    height: 450px;
  }
}
@media (min-width: 992px) {
  .img-a img {
    width: 700px;
    height: 550px;
  }
}

.carreraImg img {
  width: 290px;
  height: 200px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: none;
}
@media (min-width: 992px) {
  .carreraImg img {
    width: 320px;
    height: 225px;
  }
}

.banner {
  height: 250px;
  position: relative;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .banner {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .banner {
    height: 400px;
  }
}
.banner h1 {
  font-family: "Anton", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px) {
  .banner h1 {
    font-size: 4rem;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0%;
  opacity: 0.5;
  box-shadow: none;
}

header {
  width: 100%;
  height: auto;
  background: rgb(142, 36, 44);
  background: linear-gradient(0deg, #2d8fa2 0%, rgb(46, 66, 184) 100%);
  padding: 10px;
  border-bottom: 2px solid white;
  margin-top: 0;
}
header .contenedorLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
header .contenedorLogos .logoLs {
  width: 60px;
  height: 53px;
  margin-bottom: 0;
  border: 0;
  box-shadow: none;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav .nav-item .nav-link.active {
  color: white;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .navbar-nav .nav-item .nav-link.active {
    font-size: 1.5rem;
  }
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

footer {
  background: rgb(142, 36, 44);
  background: linear-gradient(0deg, #2d8fa2 0%, rgb(46, 66, 184) 100%);
  padding: 10px;
  margin-bottom: 0;
  display: grid;
  grid-template-areas: "pieTitulo" "pieLogos";
  justify-content: center;
  justify-items: center;
  border-top: 2px solid white;
}
footer .piePag {
  grid-area: pieTitulo;
}
footer .piePag .pieTitulo {
  color: white;
  margin: 0%;
  font-size: 1rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  footer .piePag .pieTitulo {
    font-size: 1.5rem;
  }
}
footer .piePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: pieLogos;
}
footer .piePagina img {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  margin: 5px;
}

.contenedorInicio {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  grid-template-areas: "bannerInicio" "parrafoInicial" "parrafoInicio" "img1" "img2";
  gap: 1em;
}
.contenedorInicio .banner {
  grid-area: bannerInicio;
}
.contenedorInicio p {
  color: rgb(15, 15, 154);
  font-size: small;
  font-weight: 500;
  padding: 10px;
  border-bottom: 2px solid white;
  text-align: center;
  margin: 1em 2em 1em 2em;
}
@media (min-width: 576px) {
  .contenedorInicio p {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .contenedorInicio p {
    font-size: large;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  .contenedorInicio p {
    font-size: x-large;
    font-weight: bold;
  }
}
.contenedorInicio .parrafoInicial {
  grid-area: parrafoInicial;
}
.contenedorInicio .parrafoInicio {
  grid-area: parrafoInicio;
}
.contenedorInicio .img-1 {
  grid-area: img1;
}
.contenedorInicio .img-2 {
  grid-area: img2;
}

.contenedorBio {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  grid-template-areas: "bannerBio" "parrafoUno" "imga" "parrafoDos" "parrafoTres" "imgb" "imgc";
  gap: 1em;
}
.contenedorBio .banner {
  grid-area: bannerBio;
}
.contenedorBio p {
  color: rgb(15, 15, 154);
  font-size: small;
  font-weight: 500;
  padding: 10px;
  border-bottom: 2px solid white;
  text-align: center;
  margin: 1em 2em 1em 2em;
}
@media (min-width: 576px) {
  .contenedorBio p {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .contenedorBio p {
    font-size: large;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  .contenedorBio p {
    font-size: x-large;
    font-weight: bold;
  }
}
.contenedorBio .parrafoUno {
  grid-area: parrafoUno;
}
.contenedorBio .parrafoDos {
  grid-area: parrafoDos;
}
.contenedorBio .parrafoTres {
  grid-area: parrafoTres;
}
.contenedorBio .img-a {
  grid-area: imga;
}
.contenedorBio .img-b {
  grid-area: imgb;
}
.contenedorBio .img-c {
  grid-area: imgc;
}

.contenedorCarrera {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "bannerCar" "car1" "car2" "car3" "car4" "car5" "car6" "car7";
  row-gap: 15px;
  margin-bottom: 1em;
}
.contenedorCarrera .banner {
  grid-area: bannerCar;
}
.contenedorCarrera .card {
  background-color: #3662d1;
  border: 2px solid white;
  padding: 3px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 6px 9px white;
}
@media (min-width: 992px) {
  .contenedorCarrera .card {
    width: 440px;
    padding: 10px;
  }
}
.contenedorCarrera .card .estadisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorCarrera .card .estadisticas h2 {
  color: white;
}
.contenedorCarrera .card .estadisticas h3 {
  color: white;
}
.contenedorCarrera .car1 {
  grid-area: car1;
}
.contenedorCarrera .car2 {
  grid-area: car2;
}
.contenedorCarrera .car3 {
  grid-area: car3;
}
.contenedorCarrera .car4 {
  grid-area: car4;
}
.contenedorCarrera .car5 {
  grid-area: car5;
}
.contenedorCarrera .car6 {
  grid-area: car6;
}
.contenedorCarrera .car7 {
  grid-area: car7;
}

.contenedorTitulos {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "bannerTit" "sub1" "lista1" "sub2" "lista2";
}
.contenedorTitulos .banner {
  grid-area: bannerTit;
}
.contenedorTitulos h2 {
  margin-top: 15px;
  border-bottom: 2px solid white;
  color: rgb(15, 15, 154);
  font-size: x-large;
}
@media (min-width: 768px) {
  .contenedorTitulos h2 {
    font-size: xx-large;
  }
}
.contenedorTitulos ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.contenedorTitulos ul li {
  text-decoration: none;
}
.contenedorTitulos ul li p {
  font-size: medium;
  border: 2px solid white;
  color: rgb(15, 15, 154);
  margin: 5px 3px 5px 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-shadow: 4px 6px 9px white;
}
@media (min-width: 576px) {
  .contenedorTitulos ul li p {
    font-size: large;
  }
}
@media (min-width: 768px) {
  .contenedorTitulos ul li p {
    font-size: x-large;
  }
}
.contenedorTitulos .titulos1 {
  grid-area: sub1;
}
.contenedorTitulos .lista1 {
  grid-area: lista1;
}
.contenedorTitulos .titulos2 {
  grid-area: sub2;
}
.contenedorTitulos .lista2 {
  grid-area: lista2;
}

.contenedorSeleccion {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "bannerSeleccion" "parrafoSel" "galeria";
  row-gap: 15px;
  margin-bottom: 1em;
}
.contenedorSeleccion .banner {
  grid-area: bannerSeleccion;
}
.contenedorSeleccion p {
  font-size: small;
  font-weight: 500;
  color: rgb(15, 15, 154);
  padding: 10px;
  border-bottom: 2px solid rgb(50, 126, 233);
  text-align: center;
  margin: 1em 2em 1em 2em;
  grid-area: parrafoSel;
}
@media (min-width: 576px) {
  .contenedorSeleccion p {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .contenedorSeleccion p {
    font-size: large;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  .contenedorSeleccion p {
    font-size: x-large;
    font-weight: bold;
  }
}

.gridImg {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6";
  grid-area: galeria;
}
.gridImg .imgSeleccion {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
.gridImg .item1 {
  grid-area: foto1;
}
.gridImg .item2 {
  grid-area: foto2;
}
.gridImg .item3 {
  grid-area: foto3;
}
.gridImg .item4 {
  grid-area: foto4;
}
.gridImg .item5 {
  grid-area: foto5;
}
.gridImg .item6 {
  grid-area: foto6;
}

@media (min-width: 768px) {
  footer {
    margin-bottom: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "pieTitulo pieLogos";
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .contenedorInicio {
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: "bannerInicio bannerInicio" "parrafoInicial parrafoInicial" "parrafoInicio parrafoInicio" "img1 img2";
  }
  .contenedorBio {
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: "bannerBio bannerBio" "parrafoUno parrafoUno" "imga imga" "parrafoDos parrafoDos" "parrafoTres parrafoTres" "imgb imgc";
  }
  .contenedorCarrera {
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "bannerCar bannerCar" "car1 car2" "car3 car4" "car5 car6" "car7 car7";
  }
  .gridImg {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6";
  }
}/*# sourceMappingURL=style.css.map */